* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

body .container {
  width: 70%;
  min-height: 550px;
  padding: 10px;
  margin: 25px 0px;
  position: relative;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
}

body .container a {
  text-decoration: none;
  color: #22222270;
  font-family: "Raleway Medium";
  -webkit-transition: 0.15s ease;
  transition: 0.15s ease;
}

body .container a:hover {
  color: #c23616;
}

@media (max-width: 920px) {
  body .container ::-webkit-scrollbar {
    width: 10px;
    height: 6px;
  }
  body .container ::-webkit-scrollbar-thumb {
    background: #487eb0;
    border-radius: 1px;
  }
}

@media (max-width: 500px) {
  body .container {
    top: 0px;
    width: 100%;
    min-height: 615px;
    border-radius: 0px;
    margin: 0;
  }
}

body .city-basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body .city-basic #name {
  font-family: "Raleway Medium";
  font-size: 20px;
}

body .city-basic * {
  margin: 5px 0;
}

body .city-basic #weather_desc {
  font-family: "Raleway Medium";
  font-size: 20px;
  margin: 0px;
}

body .buttons {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0;
}

body .buttons button {
  border-radius: 1px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 5px;
  margin: 0 3px;
  background-color: #ffffff;
  color: #333333;
  font-family: "Raleway Medium";
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

body .buttons button:hover {
  background-color: #487eb0;
  color: #ffffff;
}

body .buttons .activeButton {
  background-color: #487eb0;
  color: #ffffff;
}

body .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .bottom .units {
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  left: 15px;
  top: 10px;
}

body .bottom .github {
  position: absolute;
  left: 20px;
  bottom: 5px;
  text-align: center;
}

body .bottom .github p {
  margin: 5px 0;
  font-family: "Raleway Regular";
}

body .bottom #about {
  position: absolute;
  right: 15px;
  bottom: 10px;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 920px) {
  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

header .title {
  text-align: center;
}

header .title h1 {
  color: #487eb0;
  font-family: "Paytone One";
  font-size: 50px;
}

@media (max-width: 920px) {
  header .title h1 {
    font-size: 40px;
  }
}

header .title p {
  color: #22222270;
  font-family: "Raleway Regular";
}

.search-bar {
  max-width: 450px;
  margin: 0 auto;
}

.search-bar #form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.search-bar #form input {
  width: 100%;
  padding: 8px;
  margin: 15px 0;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Raleway Medium";
  outline: none;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.search-bar #form input::-webkit-input-placeholder {
  font-family: "Raleway Regular";
  color: #22222270;
}

.search-bar #form input:-ms-input-placeholder {
  font-family: "Raleway Regular";
  color: #22222270;
}

.search-bar #form input::-ms-input-placeholder {
  font-family: "Raleway Regular";
  color: #22222270;
}

.search-bar #form input::placeholder {
  font-family: "Raleway Regular";
  color: #22222270;
}

.search-bar #form #search-icon {
  position: absolute;
  right: 5px;
  font-size: 25px;
  color: #22222270;
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.weather-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin: 10px 0;
}

.weather-data .weather-data_current {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  font-family: "Raleway Medium";
  color: #555555;
}

.weather-data .weather-data_current .numerals {
  font-family: "Raleway Medium";
  font-size: 20px;
  color: #487eb0;
}

.weather-data .forecast-container {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.weather-data .forecast-container .forecast-box {
  opacity: 0;
  padding: 10px;
  color: #487eb0;
  border-radius: 2px;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  min-height: 200px;
  margin: 0px;
  -webkit-animation: testBox 0.3s ease-in-out forwards;
          animation: testBox 0.3s ease-in-out forwards;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-data .forecast-container .forecast-box .forecast-data {
  font-size: 14px;
}

.weather-data .forecast-container .forecast-box .forecast-data p {
  margin: 5px 0;
  font-family: "Raleway Medium";
}

.weather-data .forecast-container .forecast-box .forecast-data #day {
  font-family: "Raleway Black";
  font-size: 22px;
  color: #00827c;
}

@media (max-width: 920px) {
  .weather-data .forecast-container .forecast-box {
    width: 250px;
  }
}

.weather-data .forecast-container .forecast-box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.weather-data .forecast-container .forecast-box:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.weather-data .forecast-container .forecast-box:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.weather-data .forecast-container .forecast-box:nth-child(4) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.weather-data .forecast-container .forecast-box:nth-child(5) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.weather-data .weather-data_current.activeCurrent {
  opacity: 1;
}

@media (max-width: 920px) {
  .weather-data {
    overflow-y: hidden;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

@-webkit-keyframes testBox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes testBox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */